<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Bolt - Bootstrap Agency Template</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">

  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.18/css/jquery.dataTables.min.css"/>
  <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
  <script src="https://cdn.datatables.net/1.10.18/js/jquery.dataTables.min.js"></script>

  <link href="css/full-slider.css" rel="stylesheet">
<!-- Copy teacher -->


  <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css"
  <script src='scriptlib.js'></script>
  <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
  <script type="text/javascript" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
  <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/d3/3.4.11/d3.js"></script>
  <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/c3/0.1.29/c3.js"></script>
  <link href="//cdnjs.cloudflare.com/ajax/libs/c3/0.1.29/c3.css" rel="stylesheet" type="text/css">

<!-- Bootstrap core JavaScript -->

<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Favicons -->
  <link href="../static/img/favicon.png" rel="icon">
  <link href="../static/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,900|Raleway:400,300,700,900" rel="stylesheet">

  <!-- Bootstrap CSS File -->
  <link href="../static/css/bootstrap.min.css" rel="stylesheet">

  <!-- Libraries CSS Files -->
  <link href="../static/css/font-awesome.min.css" rel="stylesheet">

  <!-- Main Stylesheet File -->
  <link href="../static/css/style.css" rel="stylesheet">

  <!-- =======================================================
    Template Name: Bolt
    Template URL: https://templatemag.com/bolt-bootstrap-agency-template/
    Author: TemplateMag.com
    License: https://templatemag.com/license/
  ======================================================= -->
</head>

<body data-spy="scroll" data-offset="80" data-target="#thenavbar">

  <!-- Fixed navbar -->
  <div id="thenavbar" class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        <a class="navbar-brand" href="#"><i class="fa fa-bolt"></i></a>
      </div>
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
          <li class="active"><a href="/" class="">Home</a></li>
          <li><a href="/table" class="">Table</a></li>
          <li><a href="/chart" class="">Chart1</a></li>
          <li><a href="/chart2" class="">Chart2</a></li>
        </ul>
      </div>
      <!--/.nav-collapse -->
    </div>
  </div>

<div class="jumbotron text-center">
    <h1>Chart Page 2</h1>
    <p>Aggregated points for each activity</p>
  </div>
  <div class='container'>
   <div id="chart"></div>
  </div><!--end container-->

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script type="text/javascript" language="javascript" src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap.min.js"></script>
  <script type="text/javascript" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
  <script>
        $(document).ready(function(){
          var chart = c3.generate({
                      data: {
                          columns: [{% for name,entry in entries %}
                                      ['{{name}}',{{entry}}],
                                    {% endfor %}
                                   ],
                         type : 'bar',
                         labels: true,
                       },
                      axis: {
                        x: {label: 'activity name'},
                        y: {label: 'aggregated points'}
                      },

                      bar: {
                          title: "Aggregated points for each activity",
                           width: {
                                   ratio:0.5 // this makes bar width 50% of length between ticks
                           },
                      },
                      tooltip: {
                          show: false,
                      }
                  }); // end c3.generate
        }); // end document ready
  </script>

  <div id="copyrights">
    <div class="container">
      <p>
        &copy; Copyrights <strong>Bolt</strong>. All Rights Reserved
      </p>
      <div class="credits">
        <!--
          You are NOT allowed to delete the credit link to TemplateMag with free version.
          You can delete the credit link only if you bought the pro version.
          Buy the pro version with working PHP/AJAX contact form: https://templatemag.com/bolt-bootstrap-agency-template/
          Licensing information: https://templatemag.com/license/
        -->
        Created with Bolt template by <a href="https://templatemag.com/">TemplateMag</a>
      </div>
    </div>
  </div>

  <!-- JavaScript Libraries -->
  <script src="../static/lib/jquery/jquery.min.js"></script>
  <script src="../static/lib/bootstrap/js/bootstrap.min.js"></script>
  <script src="../static/lib/php-mail-form/validate.js"></script>
  <script src="../static/lib/easing/easing.min.js"></script>
  <script src="../static/lib/chart/chart.js"></script>

  <!-- Template Main Javascript File -->
  <script src="../static/js/main.js"></script>

</body>
</html>
